
body {
    position: absolute;
   
}

.foto-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
  
}
body {
  background-color: #282c34; 
  color: #808080; 
  font-family: sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  text-align: center;
}


h1, h2, h3 {
  color: #ffd700; 
  font-weight: bold;
  margin-bottom: 10px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
}

a {
  color: #4682b4; 
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

section {
  background-color: #333333; 
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}

.botao {
  background-color: #cc5500; 
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
}
.botao:hover {
  background-color: #e65c00; 
}

h3 {
  color: #ffd700; 
  font-weight: bold;
  margin-bottom: 10px;
}
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.h2 {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
h1{
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}
